<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <add key="LogFile" value="FZoneTask.log"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <unity>
    <containers>
      <container>
        <types>
          <type type="FashionZone.BL.IContextContainer, FashionZone.BL" mapTo="FashionZone.BL.ThreadContextContainer, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IAttributeManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.AttributeManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IBonusManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.BonusManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IBrandManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.BrandManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.ICampaignManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.CampaignManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.ICategoryManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.CategoryManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.ICustomerManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.CustomerManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IInvitationManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.InvitationManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IOrderManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.OrderManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IProductManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.ProductManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IShoppingCartManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.ShoppingCartManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IReturnManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.ReturnManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IUserManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.UserManager, FashionZone.BL"/>
          <type type="FashionZone.BL.Manager.IPaymentManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.PaymentManager, FashionZone.BL"/>
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="privEntities" connectionString="metadata=res://*/Model.FZModel.csdl|res://*/Model.FZModel.ssdl|res://*/Model.FZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=priv;User ID=privalb;Password=qweasdM50;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CurrencyConvertorSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CurrencyConvertorSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.com/CurrencyConvertor.asmx"
        binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
        contract="CurrencyConverter.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
      <endpoint address="http://www.webservicex.com/CurrencyConvertor.asmx"
        binding="customBinding" bindingConfiguration="CurrencyConvertorSoap12"
        contract="CurrencyConverter.CurrencyConvertorSoap" name="CurrencyConvertorSoap12" />
    </client>
  </system.serviceModel>
</configuration>
