body{
	background:#d9eaed url(../Images/bg_mix.jpg) repeat-x top;
	color: #202020;
}
a, a:visited{
	color:#294145;
}
input{
	border:1px solid #c3d7db;
}
select{
	border:1px solid #c3d7db;
}
#header h2{
	color:#FFF;
}
#content{
	background:#FFF;
}
#sidebar{
	background:#FFF;
}
#sidebar h3{
	background:#d9eaed;
	border-bottom:1px solid #c3d7db;
}
#top-panel{
	background:#FFF;
}
table{
	background:none;
}
td, th{
	border:1px solid #c3d7db;
} 
thead{
	background:#d9eaed;
}

#styleswitcher{
	background:#FFFFFF;
}
#footer{
	background:#FFF;
}
#box{
	border:1px solid #c3d7db;
}
#box h3{
	background:#d9eaed;
	border-bottom:1px solid #c3d7db;
	color:#294145;
}
/***************
	  Forms
***************/
div#form fieldset {
	border:1px solid #c3d7db;
}
div#form legend {
	border:1px solid #c3d7db;
	background:#fff url(../Images/form_mix.gif) repeat-x center left;
	color:#294145;
}
div#form input {
	border:1px solid #c3d7db;
	background:#fff url(../Images/form_mix.gif) repeat-x top left;
}z
div#form textarea {
	border:1px solid #c3d7db;
	background:#fff url(../Images/form_mix.gif) repeat-x bottom left;
}
div#form option {
	background:#FFF;
}
div#form optgroup {
	background:#c3d7db;
}
div#form optgroup option {

}
div#form #button1, form#form #button2 {
	color:#294145;
}
div#form #button1:hover, form#form #button2:hover {
	color:#000;
}
/***************
	Home
***************/
#infobox{
	border:1px solid #c3d7db;
}
#infobox h3{
	background:#d9eaed;
	border-bottom:1px solid #c3d7db;
	color:#294145;
}
#rightnow {
	border:1px solid #c3d7db;
}
#rightnow .reallynow {
	background:#d9eaed;
	color:#294145;
}
#rightnow h3{
	background:#d9eaed;
	border-bottom:1px solid #c3d7db;
}