<?xml version="1.0" encoding="utf-8"?>
<!--
  Per ulteriori informazioni su come configurare l'applicazione ASP.NET, visitare il sito Web all'indirizzo
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
        <section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>
    <facebookSettings appId="382326631847472" appSecret="5fea90531a8b567a2fd9c58eb06c403c" />
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
        <add key="PasswordHashMethod" value="SHA1" />
        <add key="MaxPasswordAttempts" value="3" />
        <add key="MinRequiredNonAlphanumericCharacters" value="2" />
        <add key="MinRequiredPasswordLength" value="8" />
        <add key="VerificationNumberLength" value="12" />
        <add key="PageSize" value="10" />
        <!-- Password of 8 to 16 characters and contain three of the following 4 items: upper case letter, lower case letter, a symbol, a number-->
        <add key="PasswordStrengthRegularExpression" value="(?=^[^\s]{8,16}$)((?=.*?\d)(?=.*?[A-Z])(?=.*?[a-z])|(?=.*?\d)(?=.*?[^\w\d\s])(?=.*?[a-z])|(?=.*?[^\w\d\s])(?=.*?[A-Z])(?=.*?[a-z])|(?=.*?\d)(?=.*?[A-Z])(?=.*?[^\w\d\s]))^.*" />
        <add key="ImagesUploadPath" value="/Public/Images/" />
        <add key="DeploymentURL" value="http://localhost:49769" />
        <add key="ImagesVisualizationPath" value="/Public/Images/" />
        <add key="XmlPath" value="/xml/" />
        <add key="UploadSeparator" value="__" />
        <add key="MaxAddresses" value="5" />
        <add key="orderNrFormatting" value="{0:00000}" />
        <add key="MaxOrderQuantityPerProduct" value="5" />
        <add key="MaxReturnDay" value="-90" />
        <add key="UrlEncryptionKey" value="u+=" />
        <add key="FutureCampaignDays" value="30" />
        <add key="CartExpirationValue" value="30" />
        <add key="CurrencyDelta" value="2" />
        <add key="BonusValue" value="5" />
        <add key="FBAppId" value="382326631847472" />
        <add key="FBAppSecret" value="5fea90531a8b567a2fd9c58eb06c403c" />

        <!--Albania-->
        <add key="STATE" value="1" />
        <!--Export PDF-->
        <add key="HeaderLogoPDF" value="/image/LogoHeaderPDF.png" />
        <add key="HeaderPDF" value=" Zone SH.P.K Nipt: L21902036G Rruga e Bogdaneve/ Gjon Muzaka nr 1, Tirane" />
        <add key="MsgServicePDF" value="Kujdesi ndaj klientit eshte ne sherbimin tuaj per nje asistence te plote. Na kontaktoni ne info@fzone.al ose ne numrin e telefonit 04 45 30 424." />
        <add key="EndMesPDF" value="Ju falenderojme dhe shpresojme te mbeteni te kenaqur per blerjen tuaj. Ju presim se shpejti ne www.fzone.al!" />
        <add key="TabH1PDF" value="INFORMACIONE PER FATUREN" />
        <add key="TabH2PDF" value="ADRESA PER DERGIMIN" />
        <add key="TabH3PDF" value="ADRESA E FATURES" />
        <add key="TVSHPDF" value="20" />
        <add key="TVSHFormatPDF" value="0.00" />
        <add key="ShippingMsgPDF" value="Kosto per pergatitjen dhe dergimine e porosise" />
        <add key="TitFatPDF" value="FATTURA N° " />
        <add key="TitArtPDF" value="N° artikullit" />
        <add key="TitDeskPDF" value="Pershkrimi" />
        <add key="TitSum-VatPDF" value="Sh. pa T.V.SH" />
        <add key="TitVATPDF" value="T.V.SH" />
        <add key="TitSum+VatPDF" value="Shuma" />
        <add key="TitQuantPDF" value="Sasia" />
        <add key="TitTotPDF" value="Totali" />
        <add key="TitTotPagPDF" value="Totali i paguar" />
        <add key="BonusPDF" value="Bonus" />
        <!--Cookie-->
        <add key="CookieInvitet" value="InvBy"/>
        <add key="CookieInvitetProp" value="IdCust"/>
        <add key="MailContact" value="info@fzone.al"/>
        <add key="OrderTemplate" value="D:\My Documents\OED &amp; FZ\DEV\FashionZone\FashionZone\FashionZoneFE\Templates\Communications\Order.xslt" />
        <add key="InviteTemplate" value="D:\My Documents\OED &amp; FZ\DEV\FashionZone\FashionZone\FashionZoneFE\Templates\Communications\Invite.xslt" />
        <add key="BonusTemplate" value="D:\My Documents\OED &amp; FZ\DEV\FashionZone\FashionZone\FashionZoneFE\Templates\Communications\Invite.xslt" />
        <!--Paypal TEST-->
        <add key="PaypalButton" value="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" />
        <add key="PaypalEnv" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
        <add key="PaypalSellerEmail" value="gertg_1348055059_biz@hotmail.com" />
        <add key="PaypalCurrency" value="EUR" />
        <add key="PaypalReturnUrl" value="http://62.149.196.54/cart/paypal" />
        <add key="PaypalNotifyUrl" value="http://62.149.196.54/cart/paypalIPN" />
        <add key="PaypalCancelUrl" value="http://62.149.196.54/home" />
        <add key="PaypalPDTToken" value="vH8f-l-PwnKPsbzD22rYuUrSKTjM5NQauk1XzCDCEdkhK0ZPc-xxK0RK3y4" />
        <!--End Paypal TEST-->

        <!--Paypal PRD-->
        <!--<add key="PaypalButton" value="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif"/>
        <add key="PaypalEnv" value="https://www.paypal.com/cgi-bin/webscr"/>
        <add key="PaypalSellerEmail" value="payment@fzone.al"/>
        <add key="PaypalCurrency" value="EUR"/>
        <add key="PaypalReturnUrl" value="http://www.fzone.al/cart/paypal"/>
        <add key="PaypalNotifyUrl" value="http://www.fzone.al/cart/paypalIPN"/>
        <add key="PaypalCancelUrl" value="http://www.fzone.al/home"/>
        <add key="PaypalPDTToken" value="JbOpGF4Sw-yOVqcpEQthGsSuv9gpQuBRld_i215OFNyfXKnAONV2LnDZwu0"/>-->
        <!--End Paypal PRD-->

        <!--EasyPay TEST-->
        <add key="EasyPayEnv" value="http://123.201.124.141/PaymateSecue_Albania/Default.aspx" />
        <add key="EasyPayDualAuth" value="http://123.201.124.141/AlbaniaSMSGateway/Connect/chkOrderID.aspx" />
        <add key="EasyPayMerchantUser" value="00000050" />
        <add key="EasyPayMerchantRef" value="MCLHZ" />
        <add key="EasyPayReturnUrl" value="http://62.149.196.54/cart/easypay" />
        <!--End EasyPay TEST-->

        <!--EasyPay PRD-->
        <!--<add key="EasyPayEnv" value="https://www.easypay.al/PaymateSecue_Albania/Default.aspx"/>
        <add key="EasyPayDualAuth" value="https://www.easypay.al/AlbaniaSMSGateway/Connect/chkOrderID.aspx"/>
        <add key="EasyPayMerchantUser" value="00000029"/>
        <add key="EasyPayMerchantRef" value="KWZKY"/>
        <add key="EasyPayReturnUrl" value="http://www.fzone.al/cart/easypay"/>-->
        <!--End EasyPay PRD-->

    </appSettings>
    <unity>
        <containers>
            <container>
                <types>
                    <type type="FashionZone.BL.IContextContainer, FashionZone.BL" mapTo="FashionZone.BL.ContextContainer, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IAttributeManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.AttributeManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IBonusManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.BonusManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IBrandManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.BrandManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.ICampaignManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.CampaignManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.ICategoryManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.CategoryManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.ICustomerManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.CustomerManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IInvitationManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.InvitationManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IOrderManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.OrderManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IProductManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.ProductManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IShoppingCartManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.ShoppingCartManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IReturnManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.ReturnManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IUserManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.UserManager, FashionZone.BL" />
                    <type type="FashionZone.BL.Manager.IPaymentManager, FashionZone.BL" mapTo="FashionZone.BL.Manager.Impl.PaymentManager, FashionZone.BL" />
                </types>
            </container>
        </containers>
    </unity>
    <connectionStrings>
        <!--<add name="privEntities" connectionString="metadata=res://*/Model.FZModel.csdl|res://*/Model.FZModel.ssdl|res://*/Model.FZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HBITRI-FACFC52E\SQLEXPRESS;Initial Catalog=priv;User ID=privalb;Password=qweasdM50;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
        <add name="privEntities" connectionString="metadata=res://*/Model.FZModel.csdl|res://*/Model.FZModel.ssdl|res://*/Model.FZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=priv;User ID=privalb;Password=qweasdM50;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web.extensions>
        <scripting>
            <scriptResourceHandler enableCompression="true" enableCaching="true" />
        </scripting>
    </system.web.extensions>
    <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="/error.aspx" />
        <trace enabled="false" />
        <globalization culture="it-IT" uiCulture="sq-AL" />
        <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="30" />
        <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
            <assemblies>
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms name="FZFECookie" loginUrl="/login" timeout="60" enableCrossAppRedirects="false" protection="All" slidingExpiration="true" />
        </authentication>
        <authorization>
            <allow users="*" />
        </authorization>
        <membership defaultProvider="FZMembershipProvider" userIsOnlineTimeWindow="60">
            <providers>
                <clear />
                <add name="FZMembershipProvider" type="FashionZone.FE.Utils.Security.FZMembershipProvider, FashionZone.FE" />
            </providers>
        </membership>
        <profile>
            <providers>
                <clear />
            </providers>
        </profile>
        <!--<httpModules>
            <add name="WebContextModule" type="FashionZone.BL.WebContextModule, FashionZone.BL"/>
        </httpModules>-->
        <pages controlRenderingCompatibilityVersion="4.0">
            <controls>
                <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
            </controls>
        </pages>
        <httpRuntime requestValidationMode="4.5" />
    </system.web>
    <system.webServer>
        <modules>
            <add name="WebContextModule" type="FashionZone.BL.WebContextModule, FashionZone.BL" preCondition="managedHandler" />
        </modules>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
        <httpProtocol allowKeepAlive="true" />
    </system.webServer>
    <location path="Secure">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="static">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="PdfDoc">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="Log">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="Templates">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="info@fzone.al">
                <network host="fzone.al" port="25" userName="info@fzone.al" password="ZoneGroup2011" defaultCredentials="false" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>