USE [master]
GO
/****** Object:  Database [priv]    Script Date: 05/09/2012 17:06:23 ******/
CREATE DATABASE [priv] ON  PRIMARY 
( NAME = N'priv', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS2008\MSSQL\DATA\priv.mdf' , SIZE = 2816KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'priv_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS2008\MSSQL\DATA\priv_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE SQL_Latin1_General_CP1_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [priv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [priv]
GO
/****** Object:  ForeignKey [FK_CUSTOMER_CUSTOMER]    Script Date: 05/09/2012 17:06:29 ******/
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [FK_CUSTOMER_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_USER_ROLE]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[USER] DROP CONSTRAINT [FK_USER_ROLE]
GO
/****** Object:  ForeignKey [FK_BONUS_CUSTOMER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[BONUS] DROP CONSTRAINT [FK_BONUS_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_D_CITY_D_STATE]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[D_CITY] DROP CONSTRAINT [FK_D_CITY_D_STATE]
GO
/****** Object:  ForeignKey [FK_D_ATTRIBUTE_VALUE_D_ATTRIBUTE]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[D_ATTRIBUTE_VALUE] DROP CONSTRAINT [FK_D_ATTRIBUTE_VALUE_D_ATTRIBUTE]
GO
/****** Object:  ForeignKey [FK_STAT_CUSTOMER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[CUSTOMER_AUDIT] DROP CONSTRAINT [FK_STAT_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_INVITATION_CUSTOMER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[INVITATION] DROP CONSTRAINT [FK_INVITATION_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_PRODUCT_USER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_USER]
GO
/****** Object:  ForeignKey [FK_CAMPAIGN_BRAND]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[CAMPAIGN] DROP CONSTRAINT [FK_CAMPAIGN_BRAND]
GO
/****** Object:  ForeignKey [FK_CAMPAIGN_USER]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[CAMPAIGN] DROP CONSTRAINT [FK_CAMPAIGN_USER]
GO
/****** Object:  ForeignKey [FK_AUDIT_USER]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[AUDIT] DROP CONSTRAINT [FK_AUDIT_USER]
GO
/****** Object:  ForeignKey [FK_ADDRESSINFO_D_ADDRESS_TYPE]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESSINFO] DROP CONSTRAINT [FK_ADDRESSINFO_D_ADDRESS_TYPE]
GO
/****** Object:  ForeignKey [FK_ADDRESSINFO_D_CITY]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESSINFO] DROP CONSTRAINT [FK_ADDRESSINFO_D_CITY]
GO
/****** Object:  ForeignKey [FK_ADDRESS_CUSTOMER]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESS] DROP CONSTRAINT [FK_ADDRESS_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_ADDRESS_D_ADDRESS_TYPE]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESS] DROP CONSTRAINT [FK_ADDRESS_D_ADDRESS_TYPE]
GO
/****** Object:  ForeignKey [FK_ADDRESS_D_CITY]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESS] DROP CONSTRAINT [FK_ADDRESS_D_CITY]
GO
/****** Object:  ForeignKey [FK_CATEGORY_CAMPAIGN]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[CATEGORY] DROP CONSTRAINT [FK_CATEGORY_CAMPAIGN]
GO
/****** Object:  ForeignKey [FK_CATEGORY_CATEGORY]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[CATEGORY] DROP CONSTRAINT [FK_CATEGORY_CATEGORY]
GO
/****** Object:  ForeignKey [FK_CATEGORY_D_ATTRIBUTE]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[CATEGORY] DROP CONSTRAINT [FK_CATEGORY_D_ATTRIBUTE]
GO
/****** Object:  ForeignKey [FK_PROD_IMAGES_PRODUCT]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[PROD_IMAGES] DROP CONSTRAINT [FK_PROD_IMAGES_PRODUCT]
GO
/****** Object:  ForeignKey [FK_PRODUCT_ATTRIBUTE_D_ATTRIBUTE_VALUE]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE] DROP CONSTRAINT [FK_PRODUCT_ATTRIBUTE_D_ATTRIBUTE_VALUE]
GO
/****** Object:  ForeignKey [FK_PRODUCT_ATTRIBUTE_PRODUCT]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE] DROP CONSTRAINT [FK_PRODUCT_ATTRIBUTE_PRODUCT]
GO
/****** Object:  ForeignKey [FK_ORDERS_ADDRESSINFO]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_ADDRESSINFO]
GO
/****** Object:  ForeignKey [FK_ORDERS_ADDRESSINFO1]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_ADDRESSINFO1]
GO
/****** Object:  ForeignKey [FK_ORDERS_CUSTOMER]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_ORDERS_D_ORDER_STATUS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_D_ORDER_STATUS]
GO
/****** Object:  ForeignKey [FK_ORDERS_SHIPPING]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_SHIPPING]
GO
/****** Object:  ForeignKey [FK_ORDER_NOTES_ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_NOTES] DROP CONSTRAINT [FK_ORDER_NOTES_ORDERS]
GO
/****** Object:  ForeignKey [FK_ORDER_DETAIL_CAMPAIGN]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_DETAIL] DROP CONSTRAINT [FK_ORDER_DETAIL_CAMPAIGN]
GO
/****** Object:  ForeignKey [FK_PURCHASE_DETAIL_PRODUCT_ATTRIBUTE]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_DETAIL] DROP CONSTRAINT [FK_PURCHASE_DETAIL_PRODUCT_ATTRIBUTE]
GO
/****** Object:  ForeignKey [FK_PURCHASE_DETAIL_PURCHASE]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_DETAIL] DROP CONSTRAINT [FK_PURCHASE_DETAIL_PURCHASE]
GO
/****** Object:  ForeignKey [FK_ORDER_BONUS_BONUS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_BONUS] DROP CONSTRAINT [FK_ORDER_BONUS_BONUS]
GO
/****** Object:  ForeignKey [FK_ORDER_BONUS_ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_BONUS] DROP CONSTRAINT [FK_ORDER_BONUS_ORDERS]
GO
/****** Object:  ForeignKey [FK_PAYMENT_ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[PAYMENT] DROP CONSTRAINT [FK_PAYMENT_ORDERS]
GO
/****** Object:  ForeignKey [FK_RETURN_ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[RETURN] DROP CONSTRAINT [FK_RETURN_ORDERS]
GO
/****** Object:  ForeignKey [FK_PRODUCT_CATEGORY_CATEGORY]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[PRODUCT_CATEGORY] DROP CONSTRAINT [FK_PRODUCT_CATEGORY_CATEGORY]
GO
/****** Object:  ForeignKey [FK_PRODUCT_CATEGORY_PRODUCT]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[PRODUCT_CATEGORY] DROP CONSTRAINT [FK_PRODUCT_CATEGORY_PRODUCT]
GO
/****** Object:  ForeignKey [FK_SHOPPING_CART_CAMPAIGN]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[SHOPPING_CART] DROP CONSTRAINT [FK_SHOPPING_CART_CAMPAIGN]
GO
/****** Object:  ForeignKey [FK_SHOPPING_CART_CUSTOMER]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[SHOPPING_CART] DROP CONSTRAINT [FK_SHOPPING_CART_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_SHOPPING_CART_PRODUCT_ATTRIBUTE]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[SHOPPING_CART] DROP CONSTRAINT [FK_SHOPPING_CART_PRODUCT_ATTRIBUTE]
GO
/****** Object:  ForeignKey [FK_RETURN_DETAILS_D_RETURN_MOTIVATION]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[RETURN_DETAILS] DROP CONSTRAINT [FK_RETURN_DETAILS_D_RETURN_MOTIVATION]
GO
/****** Object:  ForeignKey [FK_RETURN_DETAILS_ORDER_DETAIL]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[RETURN_DETAILS] DROP CONSTRAINT [FK_RETURN_DETAILS_ORDER_DETAIL]
GO
/****** Object:  ForeignKey [FK_RETURN_DETAILS_RETURN]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[RETURN_DETAILS] DROP CONSTRAINT [FK_RETURN_DETAILS_RETURN]
GO
/****** Object:  ForeignKey [FK_PAYPAL_PAYMENT_PAYMENT1]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[PAYPAL_PAYMENT] DROP CONSTRAINT [FK_PAYPAL_PAYMENT_PAYMENT1]
GO
/****** Object:  ForeignKey [FK_CASH_PAYMENT_PAYMENT]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[CASH_PAYMENT] DROP CONSTRAINT [FK_CASH_PAYMENT_PAYMENT]
GO
/****** Object:  Table [dbo].[CASH_PAYMENT]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[CASH_PAYMENT] DROP CONSTRAINT [FK_CASH_PAYMENT_PAYMENT]
GO
DROP TABLE [dbo].[CASH_PAYMENT]
GO
/****** Object:  StoredProcedure [dbo].[GetCampaignProducts]    Script Date: 05/09/2012 17:06:35 ******/
DROP PROCEDURE [dbo].[GetCampaignProducts]
GO
/****** Object:  StoredProcedure [dbo].[GetShoppingCartTotalAmount]    Script Date: 05/09/2012 17:06:35 ******/
DROP PROCEDURE [dbo].[GetShoppingCartTotalAmount]
GO
/****** Object:  Table [dbo].[PAYPAL_PAYMENT]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[PAYPAL_PAYMENT] DROP CONSTRAINT [FK_PAYPAL_PAYMENT_PAYMENT1]
GO
DROP TABLE [dbo].[PAYPAL_PAYMENT]
GO
/****** Object:  Table [dbo].[RETURN_DETAILS]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[RETURN_DETAILS] DROP CONSTRAINT [FK_RETURN_DETAILS_D_RETURN_MOTIVATION]
GO
ALTER TABLE [dbo].[RETURN_DETAILS] DROP CONSTRAINT [FK_RETURN_DETAILS_ORDER_DETAIL]
GO
ALTER TABLE [dbo].[RETURN_DETAILS] DROP CONSTRAINT [FK_RETURN_DETAILS_RETURN]
GO
DROP TABLE [dbo].[RETURN_DETAILS]
GO
/****** Object:  Table [dbo].[SHOPPING_CART]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[SHOPPING_CART] DROP CONSTRAINT [FK_SHOPPING_CART_CAMPAIGN]
GO
ALTER TABLE [dbo].[SHOPPING_CART] DROP CONSTRAINT [FK_SHOPPING_CART_CUSTOMER]
GO
ALTER TABLE [dbo].[SHOPPING_CART] DROP CONSTRAINT [FK_SHOPPING_CART_PRODUCT_ATTRIBUTE]
GO
ALTER TABLE [dbo].[SHOPPING_CART] DROP CONSTRAINT [DF_SHOPPING_CART_Quantity]
GO
DROP TABLE [dbo].[SHOPPING_CART]
GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[PRODUCT_CATEGORY] DROP CONSTRAINT [FK_PRODUCT_CATEGORY_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] DROP CONSTRAINT [FK_PRODUCT_CATEGORY_PRODUCT]
GO
DROP TABLE [dbo].[PRODUCT_CATEGORY]
GO
/****** Object:  Table [dbo].[RETURN]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[RETURN] DROP CONSTRAINT [FK_RETURN_ORDERS]
GO
DROP TABLE [dbo].[RETURN]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[PAYMENT] DROP CONSTRAINT [FK_PAYMENT_ORDERS]
GO
DROP TABLE [dbo].[PAYMENT]
GO
/****** Object:  Table [dbo].[ORDER_BONUS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_BONUS] DROP CONSTRAINT [FK_ORDER_BONUS_BONUS]
GO
ALTER TABLE [dbo].[ORDER_BONUS] DROP CONSTRAINT [FK_ORDER_BONUS_ORDERS]
GO
DROP TABLE [dbo].[ORDER_BONUS]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_DETAIL] DROP CONSTRAINT [FK_ORDER_DETAIL_CAMPAIGN]
GO
ALTER TABLE [dbo].[ORDER_DETAIL] DROP CONSTRAINT [FK_PURCHASE_DETAIL_PRODUCT_ATTRIBUTE]
GO
ALTER TABLE [dbo].[ORDER_DETAIL] DROP CONSTRAINT [FK_PURCHASE_DETAIL_PURCHASE]
GO
DROP TABLE [dbo].[ORDER_DETAIL]
GO
/****** Object:  Table [dbo].[ORDER_NOTES]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_NOTES] DROP CONSTRAINT [FK_ORDER_NOTES_ORDERS]
GO
DROP TABLE [dbo].[ORDER_NOTES]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_ADDRESSINFO]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_ADDRESSINFO1]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_CUSTOMER]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_D_ORDER_STATUS]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [FK_ORDERS_SHIPPING]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [DF_PURCHASE_DateCreated]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [DF_ORDERS_Verified]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [DF_ORDERS_Completed]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [DF_ORDERS_Canceled]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [DF_ORDERS_AmountPaid]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [DF_ORDERS_BonusUsed]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [DF_ORDERS_Status]
GO
ALTER TABLE [dbo].[ORDERS] DROP CONSTRAINT [DF_ORDERS_TotalAmount]
GO
DROP TABLE [dbo].[ORDERS]
GO
/****** Object:  StoredProcedure [dbo].[GetProductApprovalStatus]    Script Date: 05/09/2012 17:06:34 ******/
DROP PROCEDURE [dbo].[GetProductApprovalStatus]
GO
/****** Object:  StoredProcedure [dbo].[DeActivatePastCampaigns]    Script Date: 05/09/2012 17:06:34 ******/
DROP PROCEDURE [dbo].[DeActivatePastCampaigns]
GO
/****** Object:  StoredProcedure [dbo].[GetCampaignApprovalStatus]    Script Date: 05/09/2012 17:06:34 ******/
DROP PROCEDURE [dbo].[GetCampaignApprovalStatus]
GO
/****** Object:  Table [dbo].[PRODUCT_ATTRIBUTE]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE] DROP CONSTRAINT [FK_PRODUCT_ATTRIBUTE_D_ATTRIBUTE_VALUE]
GO
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE] DROP CONSTRAINT [FK_PRODUCT_ATTRIBUTE_PRODUCT]
GO
DROP TABLE [dbo].[PRODUCT_ATTRIBUTE]
GO
/****** Object:  Table [dbo].[PROD_IMAGES]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[PROD_IMAGES] DROP CONSTRAINT [FK_PROD_IMAGES_PRODUCT]
GO
DROP TABLE [dbo].[PROD_IMAGES]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[CATEGORY] DROP CONSTRAINT [FK_CATEGORY_CAMPAIGN]
GO
ALTER TABLE [dbo].[CATEGORY] DROP CONSTRAINT [FK_CATEGORY_CATEGORY]
GO
ALTER TABLE [dbo].[CATEGORY] DROP CONSTRAINT [FK_CATEGORY_D_ATTRIBUTE]
GO
DROP TABLE [dbo].[CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[ActivateActualCampaigns]    Script Date: 05/09/2012 17:06:33 ******/
DROP PROCEDURE [dbo].[ActivateActualCampaigns]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESS] DROP CONSTRAINT [FK_ADDRESS_CUSTOMER]
GO
ALTER TABLE [dbo].[ADDRESS] DROP CONSTRAINT [FK_ADDRESS_D_ADDRESS_TYPE]
GO
ALTER TABLE [dbo].[ADDRESS] DROP CONSTRAINT [FK_ADDRESS_D_CITY]
GO
DROP TABLE [dbo].[ADDRESS]
GO
/****** Object:  Table [dbo].[ADDRESSINFO]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESSINFO] DROP CONSTRAINT [FK_ADDRESSINFO_D_ADDRESS_TYPE]
GO
ALTER TABLE [dbo].[ADDRESSINFO] DROP CONSTRAINT [FK_ADDRESSINFO_D_CITY]
GO
DROP TABLE [dbo].[ADDRESSINFO]
GO
/****** Object:  Table [dbo].[AUDIT]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[AUDIT] DROP CONSTRAINT [FK_AUDIT_USER]
GO
DROP TABLE [dbo].[AUDIT]
GO
/****** Object:  Table [dbo].[CAMPAIGN]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[CAMPAIGN] DROP CONSTRAINT [FK_CAMPAIGN_BRAND]
GO
ALTER TABLE [dbo].[CAMPAIGN] DROP CONSTRAINT [FK_CAMPAIGN_USER]
GO
ALTER TABLE [dbo].[CAMPAIGN] DROP CONSTRAINT [DF_CAMPAIGN_Active]
GO
ALTER TABLE [dbo].[CAMPAIGN] DROP CONSTRAINT [DF_CAMPAIGN_Approved]
GO
DROP TABLE [dbo].[CAMPAIGN]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [FK_PRODUCT_USER]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [DF_PRODUCT_Approved]
GO
ALTER TABLE [dbo].[PRODUCT] DROP CONSTRAINT [DF_PRODUCT_ReadOnly]
GO
DROP TABLE [dbo].[PRODUCT]
GO
/****** Object:  Table [dbo].[INVITATION]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[INVITATION] DROP CONSTRAINT [FK_INVITATION_CUSTOMER]
GO
DROP TABLE [dbo].[INVITATION]
GO
/****** Object:  Table [dbo].[CUSTOMER_AUDIT]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[CUSTOMER_AUDIT] DROP CONSTRAINT [FK_STAT_CUSTOMER]
GO
DROP TABLE [dbo].[CUSTOMER_AUDIT]
GO
/****** Object:  Table [dbo].[D_ATTRIBUTE_VALUE]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[D_ATTRIBUTE_VALUE] DROP CONSTRAINT [FK_D_ATTRIBUTE_VALUE_D_ATTRIBUTE]
GO
DROP TABLE [dbo].[D_ATTRIBUTE_VALUE]
GO
/****** Object:  Table [dbo].[D_CITY]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[D_CITY] DROP CONSTRAINT [FK_D_CITY_D_STATE]
GO
DROP TABLE [dbo].[D_CITY]
GO
/****** Object:  Table [dbo].[BONUS]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[BONUS] DROP CONSTRAINT [FK_BONUS_CUSTOMER]
GO
DROP TABLE [dbo].[BONUS]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[USER] DROP CONSTRAINT [FK_USER_ROLE]
GO
ALTER TABLE [dbo].[USER] DROP CONSTRAINT [DF_USER_Enabled]
GO
DROP TABLE [dbo].[USER]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 05/09/2012 17:06:29 ******/
DROP TABLE [dbo].[ROLE]
GO
/****** Object:  Table [dbo].[SHIPPING]    Script Date: 05/09/2012 17:06:29 ******/
DROP TABLE [dbo].[SHIPPING]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 05/09/2012 17:06:29 ******/
DROP TABLE [dbo].[BRAND]
GO
/****** Object:  Table [dbo].[CONFIG]    Script Date: 05/09/2012 17:06:29 ******/
DROP TABLE [dbo].[CONFIG]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 05/09/2012 17:06:29 ******/
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [FK_CUSTOMER_CUSTOMER]
GO
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [DF_CUSTOMER_Active]
GO
ALTER TABLE [dbo].[CUSTOMER] DROP CONSTRAINT [DF_CUSTOMER_Newsletter]
GO
DROP TABLE [dbo].[CUSTOMER]
GO
/****** Object:  Table [dbo].[D_ORDER_STATUS]    Script Date: 05/09/2012 17:06:29 ******/
DROP TABLE [dbo].[D_ORDER_STATUS]
GO
/****** Object:  Table [dbo].[D_RETURN_MOTIVATION]    Script Date: 05/09/2012 17:06:29 ******/
DROP TABLE [dbo].[D_RETURN_MOTIVATION]
GO
/****** Object:  Table [dbo].[D_STATE]    Script Date: 05/09/2012 17:06:28 ******/
ALTER TABLE [dbo].[D_STATE] DROP CONSTRAINT [DF_D_STATE_Enabled]
GO
DROP TABLE [dbo].[D_STATE]
GO
/****** Object:  Table [dbo].[D_ADDRESS_TYPE]    Script Date: 05/09/2012 17:06:28 ******/
DROP TABLE [dbo].[D_ADDRESS_TYPE]
GO
/****** Object:  Table [dbo].[D_ATTRIBUTE]    Script Date: 05/09/2012 17:06:28 ******/
DROP TABLE [dbo].[D_ATTRIBUTE]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 05/09/2012 17:06:28 ******/
DROP TABLE [dbo].[LOG]
GO
/****** Object:  User [privalb]    Script Date: 05/09/2012 17:06:23 ******/
DROP USER [privalb]
GO
/****** Object:  User [privalb]    Script Date: 05/09/2012 17:06:23 ******/
CREATE USER [privalb] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 05/09/2012 17:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NULL,
	[Message] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StackTrace] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Class] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Method] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LineNumber] [int] NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[D_ATTRIBUTE]    Script Date: 05/09/2012 17:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[D_ATTRIBUTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_D_ATTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[D_ADDRESS_TYPE]    Script Date: 05/09/2012 17:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[D_ADDRESS_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_D_ADDRESS_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[D_STATE]    Script Date: 05/09/2012 17:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[D_STATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Enabled] [bit] NULL CONSTRAINT [DF_D_STATE_Enabled]  DEFAULT ((1)),
 CONSTRAINT [PK_D_STATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[D_RETURN_MOTIVATION]    Script Date: 05/09/2012 17:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[D_RETURN_MOTIVATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_D_RETURN_MOTIVATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[D_ORDER_STATUS]    Script Date: 05/09/2012 17:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[D_ORDER_STATUS](
	[ID] [int] NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_D_ORDER_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 05/09/2012 17:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Surname] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BirthDate] [date] NULL,
	[Gender] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_CUSTOMER_Active]  DEFAULT ((1)),
	[Newsletter] [bit] NULL CONSTRAINT [DF_CUSTOMER_Newsletter]  DEFAULT ((1)),
	[RegistrationDate] [date] NULL,
	[InvitedFrom] [int] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_CUSTOMER] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONFIG]    Script Date: 05/09/2012 17:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONFIG](
	[ConfigKey] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ConfigValue] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ConfigEngValue] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_CONFIG] PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 05/09/2012 17:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ShowName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Contact] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Telephone] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Website] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_BRAND] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHIPPING]    Script Date: 05/09/2012 17:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHIPPING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShippingType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ShippingCost] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_SHIPPING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 05/09/2012 17:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER]    Script Date: 05/09/2012 17:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Email] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Login] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[RoleID] [int] NULL,
	[Enabled] [bit] NOT NULL CONSTRAINT [DF_USER_Enabled]  DEFAULT ((1)),
	[LastIP] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_USER] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BONUS]    Script Date: 05/09/2012 17:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BONUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[Value] [decimal](6, 2) NULL,
	[ValueRemainder] [decimal](6, 2) NULL,
	[DateAssigned] [date] NULL,
	[Validity] [date] NULL,
	[Description] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Version] [timestamp] NULL,
 CONSTRAINT [PK_BONUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[D_CITY]    Script Date: 05/09/2012 17:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[D_CITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StateID] [int] NOT NULL,
 CONSTRAINT [PK_D_CITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[D_ATTRIBUTE_VALUE]    Script Date: 05/09/2012 17:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[D_ATTRIBUTE_VALUE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AttributeID] [int] NOT NULL,
	[Value] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShowOrder] [int] NOT NULL,
 CONSTRAINT [PK_ATTRIBUTE_VALUE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER_AUDIT]    Script Date: 05/09/2012 17:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER_AUDIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IP] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerID] [int] NULL,
 CONSTRAINT [PK_STAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INVITATION]    Script Date: 05/09/2012 17:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVITATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[InvitedMail] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Registered] [bit] NULL,
	[RegistrationDate] [date] NULL,
	[IP] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Cookie] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_INVITATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 05/09/2012 17:06:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[OurPrice] [decimal](6, 2) NOT NULL,
	[OriginalPrice] [decimal](6, 2) NOT NULL,
	[Discount]  AS (CONVERT([int],(([OriginalPrice]-[OurPrice])/[OriginalPrice])*(100),(0))),
	[Approved] [bit] NULL CONSTRAINT [DF_PRODUCT_Approved]  DEFAULT ((0)),
	[ApprovedBy] [int] NULL,
	[Closed] [bit] NULL CONSTRAINT [DF_PRODUCT_ReadOnly]  DEFAULT ((0)),
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CAMPAIGN]    Script Date: 05/09/2012 17:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAMPAIGN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[DeliveryStartDate] [date] NULL,
	[DeliveryEndDate] [date] NULL,
	[Logo] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ImageHome] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ImageDetail] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ImageListHeader] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_CAMPAIGN_Active]  DEFAULT ((1)),
	[GenericFile] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Approved] [bit] NULL CONSTRAINT [DF_CAMPAIGN_Approved]  DEFAULT ((0)),
	[ApprovedBy] [int] NULL,
 CONSTRAINT [PK_CAMPAIGN_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AUDIT]    Script Date: 05/09/2012 17:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUDIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TimeStamp] [datetime] NULL,
 CONSTRAINT [PK_AUDIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADDRESSINFO]    Script Date: 05/09/2012 17:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADDRESSINFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Telephone] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Location] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] [int] NULL,
	[PostCode] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_ADDRESSINFO_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 05/09/2012 17:06:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerID] [int] NOT NULL,
	[Address] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Location] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CityID] [int] NULL,
	[Telephone] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TypeID] [int] NULL,
	[PostCode] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[ActivateActualCampaigns]    Script Date: 05/09/2012 17:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ActivateActualCampaigns]
AS
BEGIN

UPDATE CAMPAIGN
set Active = 1
where CONVERT(VARCHAR(10),StartDate,111)= CONVERT(VARCHAR(10),GETDATE(),111) and Approved = 1
and Active = 0;
SELECT @@ROWCOUNT

END
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 05/09/2012 17:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CampaignID] [int] NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ParentID] [int] NULL,
	[AttributeID] [int] NULL,
	[Ordering] [int] NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROD_IMAGES]    Script Date: 05/09/2012 17:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROD_IMAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Image] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Thumbnail] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Principal] [bit] NULL,
	[LargeImage] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_PROD_IMAGES_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_ATTRIBUTE]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_ATTRIBUTE](
	[ProductID] [int] NOT NULL,
	[AttributeValueID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Availability] [int] NOT NULL,
	[Version] [timestamp] NULL,
 CONSTRAINT [PK_PRODUCT_ATTRIBUTE_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_PRODUCT_ATTRIBUTE] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[AttributeValueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetCampaignApprovalStatus]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetCampaignApprovalStatus]
@ID int
AS
BEGIN

SET NOCOUNT ON;

Select Approved
From CAMPAIGN
where ID = @ID;

END
GO
/****** Object:  StoredProcedure [dbo].[DeActivatePastCampaigns]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeActivatePastCampaigns]
AS
BEGIN

UPDATE CAMPAIGN
set Active = 0
where EndDate <= GETDATE()
and Active = 1;

SELECT @@ROWCOUNT

END
GO
/****** Object:  StoredProcedure [dbo].[GetProductApprovalStatus]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetProductApprovalStatus]
@ID int
AS
BEGIN

SET NOCOUNT ON;

Select Approved
From PRODUCT
where ID = @ID;

END
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [smalldatetime] NOT NULL CONSTRAINT [DF_PURCHASE_DateCreated]  DEFAULT (getdate()),
	[DateShipped] [smalldatetime] NULL,
	[Verified] [bit] NOT NULL CONSTRAINT [DF_ORDERS_Verified]  DEFAULT ((0)),
	[Completed] [bit] NOT NULL CONSTRAINT [DF_ORDERS_Completed]  DEFAULT ((0)),
	[Canceled] [bit] NOT NULL CONSTRAINT [DF_ORDERS_Canceled]  DEFAULT ((0)),
	[Comments] [varchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerID] [int] NULL,
	[ShippingID] [int] NULL,
	[AmountPaid] [decimal](6, 2) NOT NULL CONSTRAINT [DF_ORDERS_AmountPaid]  DEFAULT ((0)),
	[BonusUsed] [decimal](6, 2) NULL CONSTRAINT [DF_ORDERS_BonusUsed]  DEFAULT ((0)),
	[ShippingAddress] [int] NULL,
	[BillingAddress] [int] NULL,
	[Status] [int] NULL CONSTRAINT [DF_ORDERS_Status]  DEFAULT ((1)),
	[ShippingDetails] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TotalAmount] [decimal](6, 2) NOT NULL CONSTRAINT [DF_ORDERS_TotalAmount]  DEFAULT ((0)),
	[DateDelivered] [smalldatetime] NULL,
	[TrackingNumber] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_PURCHASE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDER_NOTES]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDER_NOTES](
	[OrderID] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NULL,
	[DisplayToCustomer] [bit] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Text] [varchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ORDER_NOTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProdAttrID] [int] NOT NULL,
	[CampaignID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_ORDER_DETAIL] ON [dbo].[ORDER_DETAIL] 
(
	[OrderID] ASC,
	[ProdAttrID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_BONUS]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_BONUS](
	[OrderID] [int] NOT NULL,
	[BonusID] [int] NOT NULL,
	[Value] [decimal](6, 2) NULL,
 CONSTRAINT [PK_ORDER_BONUS] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[BonusID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[ID] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETURN]    Script Date: 05/09/2012 17:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RETURN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[VerificationNumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RequestDate] [date] NULL,
	[ReceivedDate] [date] NULL,
	[Received] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Comments] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_RETURN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_RETURN] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY]    Script Date: 05/09/2012 17:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CATEGORY](
	[ProductID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_CATEGORY_1] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOPPING_CART]    Script Date: 05/09/2012 17:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHOPPING_CART](
	[ID] [char](36) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Quantity] [int] NOT NULL CONSTRAINT [DF_SHOPPING_CART_Quantity]  DEFAULT ((0)),
	[DateAdded] [smalldatetime] NOT NULL,
	[ProdAttrID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CampaignID] [int] NOT NULL,
	[FrontEnd] [bit] NULL,
 CONSTRAINT [PK_SHOPPING_CART] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ProdAttrID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RETURN_DETAILS]    Script Date: 05/09/2012 17:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETURN_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReturnID] [int] NULL,
	[OrderDetailID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](6, 2) NULL,
	[MotivationID] [int] NOT NULL,
 CONSTRAINT [PK_RETURN_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYPAL_PAYMENT]    Script Date: 05/09/2012 17:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYPAL_PAYMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidOn] [datetime] NULL,
	[Currency] [char](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PaypalEmail] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PayerEmail] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TransactionKey] [varchar](17) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TransactionStatus] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_PAYPAL_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[GetShoppingCartTotalAmount]    Script Date: 05/09/2012 17:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetShoppingCartTotalAmount]
	@ID char(36)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	Select SUM(S.Quantity * P.OurPrice)
	from SHOPPING_CART S Join PRODUCT_ATTRIBUTE A On S.ProdAttrID = A.ID Join PRODUCT P on A.ProductID = P.ID
	where S.ID = @ID
	group by S.ID;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCampaignProducts]    Script Date: 05/09/2012 17:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetCampaignProducts]
@CampaignID int,
@CategoryID int = null
AS
BEGIN

SET NOCOUNT ON;

select distinct P.* 
from PRODUCT P left join PRODUCT_CATEGORY PC on P.ID = PC.ProductID left join CATEGORY C ON PC.CategoryID = C.ID
where CampaignID = @CampaignID AND PC.CategoryID = COALESCE(NULLIF(@CategoryID, ''), PC.CategoryID)

END
GO
/****** Object:  Table [dbo].[CASH_PAYMENT]    Script Date: 05/09/2012 17:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CASH_PAYMENT](
	[ID] [int] NOT NULL,
	[Receiver] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidOn] [smalldatetime] NULL,
	[Comments] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_CASH_PAYMENT_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_CUSTOMER_CUSTOMER]    Script Date: 05/09/2012 17:06:29 ******/
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_CUSTOMER] FOREIGN KEY([InvitedFrom])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_USER_ROLE]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE] FOREIGN KEY([RoleID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_ROLE]
GO
/****** Object:  ForeignKey [FK_BONUS_CUSTOMER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[BONUS]  WITH CHECK ADD  CONSTRAINT [FK_BONUS_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[BONUS] CHECK CONSTRAINT [FK_BONUS_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_D_CITY_D_STATE]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[D_CITY]  WITH CHECK ADD  CONSTRAINT [FK_D_CITY_D_STATE] FOREIGN KEY([StateID])
REFERENCES [dbo].[D_STATE] ([ID])
GO
ALTER TABLE [dbo].[D_CITY] CHECK CONSTRAINT [FK_D_CITY_D_STATE]
GO
/****** Object:  ForeignKey [FK_D_ATTRIBUTE_VALUE_D_ATTRIBUTE]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[D_ATTRIBUTE_VALUE]  WITH CHECK ADD  CONSTRAINT [FK_D_ATTRIBUTE_VALUE_D_ATTRIBUTE] FOREIGN KEY([AttributeID])
REFERENCES [dbo].[D_ATTRIBUTE] ([ID])
GO
ALTER TABLE [dbo].[D_ATTRIBUTE_VALUE] CHECK CONSTRAINT [FK_D_ATTRIBUTE_VALUE_D_ATTRIBUTE]
GO
/****** Object:  ForeignKey [FK_STAT_CUSTOMER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[CUSTOMER_AUDIT]  WITH CHECK ADD  CONSTRAINT [FK_STAT_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER_AUDIT] CHECK CONSTRAINT [FK_STAT_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_INVITATION_CUSTOMER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[INVITATION]  WITH CHECK ADD  CONSTRAINT [FK_INVITATION_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[INVITATION] CHECK CONSTRAINT [FK_INVITATION_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_PRODUCT_USER]    Script Date: 05/09/2012 17:06:30 ******/
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_USER] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_USER]
GO
/****** Object:  ForeignKey [FK_CAMPAIGN_BRAND]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[CAMPAIGN]  WITH CHECK ADD  CONSTRAINT [FK_CAMPAIGN_BRAND] FOREIGN KEY([BrandID])
REFERENCES [dbo].[BRAND] ([ID])
GO
ALTER TABLE [dbo].[CAMPAIGN] CHECK CONSTRAINT [FK_CAMPAIGN_BRAND]
GO
/****** Object:  ForeignKey [FK_CAMPAIGN_USER]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[CAMPAIGN]  WITH CHECK ADD  CONSTRAINT [FK_CAMPAIGN_USER] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[CAMPAIGN] CHECK CONSTRAINT [FK_CAMPAIGN_USER]
GO
/****** Object:  ForeignKey [FK_AUDIT_USER]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[AUDIT]  WITH CHECK ADD  CONSTRAINT [FK_AUDIT_USER] FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[AUDIT] CHECK CONSTRAINT [FK_AUDIT_USER]
GO
/****** Object:  ForeignKey [FK_ADDRESSINFO_D_ADDRESS_TYPE]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESSINFO]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESSINFO_D_ADDRESS_TYPE] FOREIGN KEY([Type])
REFERENCES [dbo].[D_ADDRESS_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ADDRESSINFO] CHECK CONSTRAINT [FK_ADDRESSINFO_D_ADDRESS_TYPE]
GO
/****** Object:  ForeignKey [FK_ADDRESSINFO_D_CITY]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESSINFO]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESSINFO_D_CITY] FOREIGN KEY([City])
REFERENCES [dbo].[D_CITY] ([ID])
GO
ALTER TABLE [dbo].[ADDRESSINFO] CHECK CONSTRAINT [FK_ADDRESSINFO_D_CITY]
GO
/****** Object:  ForeignKey [FK_ADDRESS_CUSTOMER]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_ADDRESS_D_ADDRESS_TYPE]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_D_ADDRESS_TYPE] FOREIGN KEY([TypeID])
REFERENCES [dbo].[D_ADDRESS_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_D_ADDRESS_TYPE]
GO
/****** Object:  ForeignKey [FK_ADDRESS_D_CITY]    Script Date: 05/09/2012 17:06:31 ******/
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_D_CITY] FOREIGN KEY([CityID])
REFERENCES [dbo].[D_CITY] ([ID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_D_CITY]
GO
/****** Object:  ForeignKey [FK_CATEGORY_CAMPAIGN]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_CAMPAIGN] FOREIGN KEY([CampaignID])
REFERENCES [dbo].[CAMPAIGN] ([ID])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [FK_CATEGORY_CAMPAIGN]
GO
/****** Object:  ForeignKey [FK_CATEGORY_CATEGORY]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_CATEGORY] FOREIGN KEY([ParentID])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [FK_CATEGORY_CATEGORY]
GO
/****** Object:  ForeignKey [FK_CATEGORY_D_ATTRIBUTE]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_D_ATTRIBUTE] FOREIGN KEY([AttributeID])
REFERENCES [dbo].[D_ATTRIBUTE] ([ID])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [FK_CATEGORY_D_ATTRIBUTE]
GO
/****** Object:  ForeignKey [FK_PROD_IMAGES_PRODUCT]    Script Date: 05/09/2012 17:06:33 ******/
ALTER TABLE [dbo].[PROD_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_PROD_IMAGES_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROD_IMAGES] CHECK CONSTRAINT [FK_PROD_IMAGES_PRODUCT]
GO
/****** Object:  ForeignKey [FK_PRODUCT_ATTRIBUTE_D_ATTRIBUTE_VALUE]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_ATTRIBUTE_D_ATTRIBUTE_VALUE] FOREIGN KEY([AttributeValueID])
REFERENCES [dbo].[D_ATTRIBUTE_VALUE] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE] CHECK CONSTRAINT [FK_PRODUCT_ATTRIBUTE_D_ATTRIBUTE_VALUE]
GO
/****** Object:  ForeignKey [FK_PRODUCT_ATTRIBUTE_PRODUCT]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_ATTRIBUTE_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT_ATTRIBUTE] CHECK CONSTRAINT [FK_PRODUCT_ATTRIBUTE_PRODUCT]
GO
/****** Object:  ForeignKey [FK_ORDERS_ADDRESSINFO]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ADDRESSINFO] FOREIGN KEY([ShippingAddress])
REFERENCES [dbo].[ADDRESSINFO] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_ADDRESSINFO]
GO
/****** Object:  ForeignKey [FK_ORDERS_ADDRESSINFO1]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ADDRESSINFO1] FOREIGN KEY([BillingAddress])
REFERENCES [dbo].[ADDRESSINFO] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_ADDRESSINFO1]
GO
/****** Object:  ForeignKey [FK_ORDERS_CUSTOMER]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_ORDERS_D_ORDER_STATUS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_D_ORDER_STATUS] FOREIGN KEY([Status])
REFERENCES [dbo].[D_ORDER_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_D_ORDER_STATUS]
GO
/****** Object:  ForeignKey [FK_ORDERS_SHIPPING]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_SHIPPING] FOREIGN KEY([ShippingID])
REFERENCES [dbo].[SHIPPING] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_SHIPPING]
GO
/****** Object:  ForeignKey [FK_ORDER_NOTES_ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_NOTES]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_NOTES_ORDERS] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDER_NOTES] CHECK CONSTRAINT [FK_ORDER_NOTES_ORDERS]
GO
/****** Object:  ForeignKey [FK_ORDER_DETAIL_CAMPAIGN]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_CAMPAIGN] FOREIGN KEY([CampaignID])
REFERENCES [dbo].[CAMPAIGN] ([ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_CAMPAIGN]
GO
/****** Object:  ForeignKey [FK_PURCHASE_DETAIL_PRODUCT_ATTRIBUTE]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_DETAIL_PRODUCT_ATTRIBUTE] FOREIGN KEY([ProdAttrID])
REFERENCES [dbo].[PRODUCT_ATTRIBUTE] ([ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_DETAIL_PRODUCT_ATTRIBUTE]
GO
/****** Object:  ForeignKey [FK_PURCHASE_DETAIL_PURCHASE]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_DETAIL_PURCHASE] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_DETAIL_PURCHASE]
GO
/****** Object:  ForeignKey [FK_ORDER_BONUS_BONUS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_BONUS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_BONUS_BONUS] FOREIGN KEY([BonusID])
REFERENCES [dbo].[BONUS] ([ID])
GO
ALTER TABLE [dbo].[ORDER_BONUS] CHECK CONSTRAINT [FK_ORDER_BONUS_BONUS]
GO
/****** Object:  ForeignKey [FK_ORDER_BONUS_ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[ORDER_BONUS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_BONUS_ORDERS] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDER_BONUS] CHECK CONSTRAINT [FK_ORDER_BONUS_ORDERS]
GO
/****** Object:  ForeignKey [FK_PAYMENT_ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_ORDERS] FOREIGN KEY([ID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_PAYMENT_ORDERS]
GO
/****** Object:  ForeignKey [FK_RETURN_ORDERS]    Script Date: 05/09/2012 17:06:34 ******/
ALTER TABLE [dbo].[RETURN]  WITH CHECK ADD  CONSTRAINT [FK_RETURN_ORDERS] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[RETURN] CHECK CONSTRAINT [FK_RETURN_ORDERS]
GO
/****** Object:  ForeignKey [FK_PRODUCT_CATEGORY_CATEGORY]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[PRODUCT_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY_CATEGORY] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CATEGORY] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY_CATEGORY]
GO
/****** Object:  ForeignKey [FK_PRODUCT_CATEGORY_PRODUCT]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[PRODUCT_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY_PRODUCT]
GO
/****** Object:  ForeignKey [FK_SHOPPING_CART_CAMPAIGN]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[SHOPPING_CART]  WITH CHECK ADD  CONSTRAINT [FK_SHOPPING_CART_CAMPAIGN] FOREIGN KEY([CampaignID])
REFERENCES [dbo].[CAMPAIGN] ([ID])
GO
ALTER TABLE [dbo].[SHOPPING_CART] CHECK CONSTRAINT [FK_SHOPPING_CART_CAMPAIGN]
GO
/****** Object:  ForeignKey [FK_SHOPPING_CART_CUSTOMER]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[SHOPPING_CART]  WITH CHECK ADD  CONSTRAINT [FK_SHOPPING_CART_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[SHOPPING_CART] CHECK CONSTRAINT [FK_SHOPPING_CART_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_SHOPPING_CART_PRODUCT_ATTRIBUTE]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[SHOPPING_CART]  WITH CHECK ADD  CONSTRAINT [FK_SHOPPING_CART_PRODUCT_ATTRIBUTE] FOREIGN KEY([ProdAttrID])
REFERENCES [dbo].[PRODUCT_ATTRIBUTE] ([ID])
GO
ALTER TABLE [dbo].[SHOPPING_CART] CHECK CONSTRAINT [FK_SHOPPING_CART_PRODUCT_ATTRIBUTE]
GO
/****** Object:  ForeignKey [FK_RETURN_DETAILS_D_RETURN_MOTIVATION]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[RETURN_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_RETURN_DETAILS_D_RETURN_MOTIVATION] FOREIGN KEY([MotivationID])
REFERENCES [dbo].[D_RETURN_MOTIVATION] ([ID])
GO
ALTER TABLE [dbo].[RETURN_DETAILS] CHECK CONSTRAINT [FK_RETURN_DETAILS_D_RETURN_MOTIVATION]
GO
/****** Object:  ForeignKey [FK_RETURN_DETAILS_ORDER_DETAIL]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[RETURN_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_RETURN_DETAILS_ORDER_DETAIL] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[ORDER_DETAIL] ([ID])
GO
ALTER TABLE [dbo].[RETURN_DETAILS] CHECK CONSTRAINT [FK_RETURN_DETAILS_ORDER_DETAIL]
GO
/****** Object:  ForeignKey [FK_RETURN_DETAILS_RETURN]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[RETURN_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_RETURN_DETAILS_RETURN] FOREIGN KEY([ReturnID])
REFERENCES [dbo].[RETURN] ([ID])
GO
ALTER TABLE [dbo].[RETURN_DETAILS] CHECK CONSTRAINT [FK_RETURN_DETAILS_RETURN]
GO
/****** Object:  ForeignKey [FK_PAYPAL_PAYMENT_PAYMENT1]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[PAYPAL_PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_PAYPAL_PAYMENT_PAYMENT1] FOREIGN KEY([ID])
REFERENCES [dbo].[PAYMENT] ([ID])
GO
ALTER TABLE [dbo].[PAYPAL_PAYMENT] CHECK CONSTRAINT [FK_PAYPAL_PAYMENT_PAYMENT1]
GO
/****** Object:  ForeignKey [FK_CASH_PAYMENT_PAYMENT]    Script Date: 05/09/2012 17:06:35 ******/
ALTER TABLE [dbo].[CASH_PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_CASH_PAYMENT_PAYMENT] FOREIGN KEY([ID])
REFERENCES [dbo].[PAYMENT] ([ID])
GO
ALTER TABLE [dbo].[CASH_PAYMENT] CHECK CONSTRAINT [FK_CASH_PAYMENT_PAYMENT]
GO
